$black: #222;
$white: #fff;
$blue: #0f4c81;
$teal: #295f6b;
$skyblue: #4ca8bd;
$lavender: #564d65;
$sage: #dcc6e0;
$dark-blue: #0d0630;
$platinum: #e0e0e0;

$sanSerif: 'Lato', sans-serif;
$serif: 'Caveat', serif;
